---
const { featured, screenshots, title, tags, description, demoLink, codeLink } = Astro.props;
import Image from "astro/components/Image.astro";
---

<div class="project flow">
  <div class="screenshots">
    {
      screenshots.map((screenshot) => {
        return <Image class={screenshot.size} src={screenshot.src} alt="" />;
      })
    }
  </div>

  <div class="title-container flex-flow align-center flex-wrap">
    <h3 class="fs-step-2">{title}</h3>
    <div class="tags">
      {
        tags.map((tag) => {
          return <span class="tag fs-step--1">{tag}</span>;
        })
      }
    </div>
  </div>

  <p>{description}</p>

  <div class="flex-flow">
    <a href={demoLink} class="button">Demo</a>
    <a href={codeLink} class="button">Code</a>
  </div>

  <div class="divider-lg"></div>
</div>

<style>
  .screenshots {
    display: flex;
    align-items: flex-end;
  }

  .screenshots img {
    min-width: 0;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 3px 4px hsl(0 0% 0% / 0.5);
    z-index: -1;
  }

  .screenshots .tablet,
  .screenshots .mobile {
    margin-inline-start: -20px;

    @media (width < 48em) {
      display: none;
    }
  }

  .button {
    display: inline-block;
    color: var(--fg, var(--clr-primary-400));
    background: var(--bg, var(--clr-neutral-100));
    font-weight: bold;
    border: 3px solid var(--clr-primary-400);
    border-radius: 0.5rem;
    padding-inline: 2em;
    padding-block: 0.5em;
    cursor: pointer;
    transform: background 500ms ease-in;
  }

  .button:is(:hover, :focus-visible) {
    --fg: var(--clr-neutral-100);
    --bg: var(--clr-primary-400);
  }
</style>
