---
import "../styles/main.css";
import MainHeader from "../components/MainHeader.astro";
import emailIcon from "../assets/icons/ui/icon-email.svg";
import linkedinIcon from "../assets/icons/ui/icon-linkedin.svg";
import githubIcon from "../assets/icons/ui/icon-github.svg";
import codepenIcon from "../assets/icons/ui/icon-codepen.svg";
import Image from "astro/components/Image.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Matthew Miguel | Frontend Developer</title>
  </head>

  <body>
    <MainHeader />

    <main>
      <slot />
    </main>

    <footer class="text-center bg-gradient text-clr-light">
      <div class="wrapper">
        <ul class="social-links flex-flow justify-center" role="list" aria-label="Social Links">
          <li>
            <a href="mailto:matthewmiguel.dev@gmail.com">
              <Image src={emailIcon} alt="Email Me" />
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/matthewmiguel/">
              <Image src={linkedinIcon} alt="LinkedIn" />
            </a>
          </li>
          <li>
            <a href="https://github.com/MattJM1007">
              <Image src={githubIcon} alt="GitHub" />
            </a>
          </li>
          <li>
            <a href="https://codepen.io/MattJM1007/pens/showcase">
              <Image src={codepenIcon} alt="Codepen" />
            </a>
          </li>
        </ul>
        <p class="wrapper">© Matthew Miguel {new Date().getFullYear()}</p>
      </div>
    </footer>
  </body>
</html>
